<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Shivoham Automation Expert">
    <test verbose="3" preserve-order="true" name="C:/Projects/CucumberTestNG">
        <classes>
            <class name="Runners.Run" />
        </classes>
    </test>
</suite>